* {
  margin: auto 0;
  font-family: 'Muli', sans-serif;
}

.nav {
  width: 100%;
  height: 48px;
  background-color: grey;
}
.app {
  margin: 50px 0;
  display: grid;
  justify-content: center;
}

.end {
  font-size: 25px;
  margin-left: 50px;
}
.endpoints {
  display: flex;
  margin: 32px 0 32px 0;
  width: 500px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.point1-text {
  color: black;
  text-align: center;
  font-size: 16px;
  display: none;
  position: absolute;
  top: 38%;
}

.point2-text {
  color: black;
  text-align: center;
  font-size: 14px;
  display: none;
  position: absolute;
  top: 49.5%;
}

.point3-text {
  color: black;
  text-align: center;
  font-size: 16px;
  display: none;
  position: absolute;
  top: 78.5%;
}

.point4-text {
  color: black;
  text-align: center;
  font-size: 14px;
  display: none;
  position: absolute;
  top: 90%;
}

.point5-text {
  color: black;
  text-align: center;
  font-size: 15px;
  display: none;
  position: absolute;
  top: 101.9%;
}

.point6-text {
  color: black;
  text-align: center;
  font-size: 16px;
  display: none;
  position: absolute;
  top: 114%;
}

.point7-text {
  color: black;
  text-align: center;
  font-size: 15px;
  display: none;
  position: absolute;
  top: 126%;
}

.point8-text {
  color: black;
  text-align: center;
  font-size: 14px;
  display: none;
  position: absolute;
  top: 138%;
}

.point9-text {
  color: black;
  text-align: center;
  font-size: 15px;
  display: none;
  position: absolute;
  top: 149.8%;
}

.point10-text {
  color: black;
  text-align: center;
  font-size: 15px;
  display: none;
  position: absolute;
  top: 162%;
}

.point11-text {
  color: black;
  text-align: center;
  font-size: 16px;
  display: none;
  position: absolute;
  top: 174.5%;
}

.nav-btn {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: black;
  background-color: lightgrey;
}

#ingredients, .recipes {
  justify-content: center;
  align-items: center;
}

.ending {
  margin-right: 20px;
  font-size: 20px;
}

.main {
  font-size: 35px;
}
ul {
  list-style: none;
  max-width: 500px;
}

p {
  max-width: 500px;
}

.get {
  background-color: #fbdcce;
}

.post {
  background-color: #f2bbad;
}

.put {
  background-color: #aedfdb;
}

.delete {
  background-color: #75c9cc;
}

.required {
  font-size: 20px;
  margin: 10px;
}

.above-box {
  margin: 20px 0 20px 0;
}

.endpoint1,
.endpoint2,
.endpoint3,
.endpoint4,
.endpoint5,
.endpoint6,
.endpoint7,
.endpoint8,
.endpoint9,
.endpoint10,
.endpoint11
 {
  display: none;
}

.appear {
  display: block;
}

h1, h2, h3 {
  margin: 10px;
}

img {
  margin: 10px;
  width: 250px;
  padding: 10px;
  text-align: center;
  border: 3px dashed #ccc;
}


.verbs {
  display: flex;
  width: 75px;
  height: 50px;
  border-right: 1px solid black;
}

.ingredients-JSON {
  width: 450px;
}

.url {
  border: 1px solid black;
  margin: 20px 0 20px 0;
  width: 400px;
  padding: 10px;
}

.example {
  width: 300px;
}

.verb-type {
  margin: 15px;
} 